body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #111;
  background-color: #fafafa;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
.hidden {
  display: none;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.link {
  text-decoration: none;
}
.section-title {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.section-title span {
  color: #FD9222;
}
.section-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.text {
  color: #111;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #111;
  padding-top: 25px;
  padding-bottom: 19px;
}
.logo span {
  font-style: italic;
}
.logo-img {
  margin-left: 4px;
}
.menu-open-btn {
  border: none;
  background-color: #FAFAFA;
}
.hero-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}
.hero-button {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.hero-link-made {
  color: #fff;
  font-weight: 600;
  line-height: normal;
}
.hero-link-scroll {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
}
.features {
  background-color: #111111;
}
.features-text {
  color: rgba(255, 255, 255, 0.7);
  line-height: normal;
  letter-spacing: -0.02em;
}
.made-subtitle {
  color: #111;
  line-height: 1.33;
}
.made-item {
line-height: 1.28;
letter-spacing: -0.02em;
}
.products-subtitle {
  color: #111;
line-height: 1.33;
letter-spacing: -0.02em;
text-transform: uppercase;
}
.products-text {
  color: rgba(17, 17, 17, 0.70);
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;
}
.products-button {
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.sellers-subtitle {
font-size: 18px;
font-weight: 600;
line-height: 1.33; 
letter-spacing: -0.02em;
text-transform: uppercase;
}
.loved-subtitle {
  color: #111;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 1.33;
}
.loved-text {
  color: rgba(17, 17, 17, 0.70);
text-align: center;
line-height: 1.28;
letter-spacing: -0.02em;
}
.loved-button {
text-align: center;
font-weight: 600;
line-height: normal;
}
.footer {
  background-color: #1E1823;
}
.footer-title {
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 1.17;
letter-spacing: -0.02em;
}
.footer-title span {
  color: #FD9222;
}
.footer-subtitle {
  color: #FFF;
font-weight: 500;
line-height: 1.28;
font-style: normal;
}
.contacts-link {
  color: #FFF;
font-style: normal;
line-height: 1.28;
letter-spacing: -0.02em;
}
.footer-menu-item {
  color: #FFF;
font-weight: 500;
line-height: 1.14; 
letter-spacing: -0.02em;
}
.logo-svg {
  stroke: #FD9222;
}
.menu-open-btn-icon {
  stroke: #111;
}
.menu-svg {
  width: 28px;
  height: 28px;
}
.header .container {
  display: flex;
  gap: 138px;
}
.hero-container {
  background-color: rgba(17, 17, 17, 0.40);
  background-image: url(../images/chocolate_main.jpg);
  padding: 395px 16px 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  margin-bottom: 80px;

}
