body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #111;
  background-color: #fafafa;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.hidden {
  display: none;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.link {
  text-decoration: none;
}
.section-title {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.section-title span {
  color: #fd9222;
}
.section-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.text {
  color: #111;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ================HEADER================= */
.header .container {
  display: flex;
  gap: 138px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #111;
  max-width: 169px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.logo span {
  font-style: italic;
}
.logo-img {
  margin-left: 0;
}
.logo-svg {
  stroke: #fd9222;
}
.menu-open-btn {
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.menu-open-btn-icon {
  stroke: #111;
  background-color: #fafafa;
}
/* ================HERO================= */
.hero {
  margin-bottom: 80px;
}
.hero-container {
  background-color: rgba(17, 17, 17, 0.4);
  background-image: url(../images/chocolate_main.jpg);
  padding: 395px 16px 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.hero-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 291px;
}
.hero-button {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}
.hero-button:hover {
  background-color: #FCF1E0;
  color: #FD9222;
} 
.hero-link-made {
  color: #fff;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid #fff;
  transition: border-color 250ms linear, color 250ms linear;
}
.hero-link-made:hover {
  color: #FD9222;
  border-color: #FD9222;
}
.hero-link-scroll {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  width: 107px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: color 250ms linear;
}
.hero-link-scroll::after {
  content: '';
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  background-image: url(../images/fi-rr-angle-small-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border-radius: 50%;
  transition: background-color 250ms linear, background-image 250ms linear;
} 
.hero-link-scroll:hover {
  color: #FD9222;
} 
.hero-link-scroll:hover::after {
  background-color: #FD9222;
  background-image: url(../images/fi-rr-white.svg);

}
.hero-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 14px;
}

/* ================FEATURES================= */
.features .container {
  padding: 20px;
  background-color: #111111;
}
.features-text {
  color: rgba(255, 255, 255, 0.7);
  line-height: normal;
  letter-spacing: -0.02em;
  max-width: 308px;
}
.features-item:first-child .features-text {
  padding-bottom: 18px;
}
.features-item:last-child .features-text {
  padding-bottom: 16px;
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.features-subtitle {
  margin-bottom: 18px;
}
.features-item-icon {
  fill: #fd9222;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.features-item-icon-container {
  background-color: transparent;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  position: relative;
  margin-bottom: 22px;
}

/* ================TASTE================= */
.taste .container {
  padding-top: 80px;
  padding-bottom: 75px;
}
.tast-title {
  margin-bottom: 32px;
  max-width: 283px;
}
.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.taste-item {
  border-radius: 15px;
  width: 100%;
  padding-top: 32px;
  position: relative;
  flex-shrink: 0;
}
.taste-item:nth-child(2n) {
  background-color: #fff;
  border: 1px solid #fd9222;
}
.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}
.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
}
.taste-item:nth-child(2n + 1) .taste-text {
  color: #fff;
}
.taste-img {
  margin: 0 auto;
  margin-bottom: 16px;
  flex-shrink: 0;
}
.taste-text {
  padding-left: 28px;
  padding-bottom: 28px;
}
.taste-item-icon {
  stroke: #fafafa;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
.taste-item:nth-child(2n) .taste-item-icon {
  stroke: #fd9222;
}

/* ================MADE================= */
.made-subtitle {
  color: #111;
  line-height: 1.33;
}
.made-item {
  line-height: 1.28;
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 16px;
}
.made-item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.made .container {
  padding-bottom: 80px;
}
.made-title {
  margin-bottom: 32px;
}
.made-image {
  flex-shrink: 0;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}
.made-list-container {
  padding: 20px 14px;
  border-radius: 15px;
  background: #fff;
}
.made-subtitle {
  margin-bottom: 20px;
}
.made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.made-image-wrapper {
  position: relative;
}
.made-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}
/* ================PRODUCTS================= */
.products-subtitle {
  color: #111;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.products-button {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.products-title {
  margin-bottom: 32px;
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  width: 335px;
  height: 364px;
  padding: 32px 52px 32px 53px;
}

.products-item-img {
  margin-bottom: 8px;
}
.products-subtitle {
  margin-bottom: 2px;
}
.products-text {
  margin-bottom: 18px;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-button {
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}
/* ================SELLERS================= */
.sellers-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  width: 223px;
}
.sellers .container {
  padding-top: 80px;
}
.sellers-title {
  margin-bottom: 32px;
}
.sellers-item-img {
  border-radius: 15px 15px 0px 0px;
}
.sellers-sub-wrapper {
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  padding: 24px 56px;
}
.sellers-wrap-overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.sellers-wrap-text-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.sellers-text-overlay {
  color: #fff;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.sellers-item:hover .sellers-wrap-text-container {
  transform: translateY(0);
}
/* ================LOVED================= */
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  padding-bottom: 24px;
}
.loved-title {
  padding-bottom: 74px;
}
.loved-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.loved-button {
  text-align: center;
  font-weight: 600;
  line-height: normal;
}
.loved .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.loved-item {
  padding: 56px 18px 42px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
  position: relative;
  margin-bottom: 32px;
}
.loved-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}
.loved-button {
  color: #111;
  text-align: center;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 165px;
  transition: color 250ms linear, background-color 250ms linear;
}
.loved-button:hover {
  background-color: #FD9222;
  color: #FFF;
}
/* ================FOOTER================= */
.footer {
  background-color: #1e1823;
}
.footer-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  width: 300px;
}
.footer-title span {
  color: #fd9222;
}
.footer-subtitle {
  color: #fff;
  font-weight: 500;
  line-height: 1.28;
  font-style: normal;
  margin-bottom: 14px;
}
.contacts-link {
  color: #fff;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.footer-menu-link {
  color: #fff;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-wrap-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.socials-list {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-item:hover .socials-item-link {
  border: 1px solid rgba(253, 146, 34, 0.1);
}

.socials-item-icon {
  fill: #fff;
  transition: fill 250ms linear;
}
.socials-item:hover .socials-item-icon {
  fill: #fd9222;
}
.socials-item-link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms linear;
}
.footer-menu {
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-input {
  background-color: transparent;
  width: 207px;
  height: 45px;
  outline: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  padding-left: 18px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}
.footer-form {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.footer-button {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 24px;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
}
.footer-button:hover {
  background-color: #FCF1E0;
  color: #FD9222;
} 
