body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #111;
  background-color: #fafafa;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.link {
  text-decoration: none;
}
.section-title {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.section-title span {
  color: #fd9222;
}
.section-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.text {
  color: #111;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ================HEADER================= */
.header .container {
  display: flex;
  gap: 138px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #111;
  max-width: 169px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.logo span {
  font-style: italic;
}
.logo-img {
  margin-left: 0;
}
.logo-svg {
  stroke: #fd9222;
}
.menu-open-btn {
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.menu-open-btn-icon {
  stroke: #111;
  background-color: #fafafa;
}
/* ================HERO================= */
.hero {
  margin-bottom: 80px;
}
.hero-container {
  background-color: rgba(17, 17, 17, 0.4);
  background-image: url(../images/chocolate_main.jpg);
  padding: 395px 16px 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.hero-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 291px;
}
.hero-button {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}
.hero-button:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-link-made {
  color: #fff;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid #fff;
  transition: border-color 250ms linear, color 250ms linear;
}
.hero-link-made:hover {
  color: #fd9222;
  border-color: #fd9222;
}
.hero-link-scroll {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  width: 107px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: color 250ms linear;
}
.hero-link-scroll::after {
  content: "";
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  background-image: url(../images/fi-rr-angle-small-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border-radius: 50%;
  transition: background-color 250ms linear, background-image 250ms linear;
}
.hero-link-scroll:hover {
  color: #fd9222;
}
.hero-link-scroll:hover::after {
  background-color: #fd9222;
  background-image: url(../images/fi-rr-white.svg);
}
.hero-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 14px;
}

/* ================FEATURES================= */
.features {
  background-color: #111111;
}
.features .container {
  padding: 20px;
  
}
.features-text {
  color: rgba(255, 255, 255, 0.7);
  line-height: normal;
  letter-spacing: -0.02em;
  max-width: 308px;
}
.features-item:first-child .features-text {
  padding-bottom: 18px;
}
.features-item:last-child .features-text {
  padding-bottom: 16px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}
.features-subtitle {
  margin-bottom: 18px;
}
.features-item-icon {
  fill: #fd9222;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.features-item-icon-container {
  background-color: transparent;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  position: relative;
  margin-bottom: 22px;
}

/* ================TASTE================= */
.taste .container {
  padding-top: 80px;
  padding-bottom: 75px;
}
.tast-title {
  margin-bottom: 32px;
  max-width: 283px;
}
.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.taste-item {
  border-radius: 15px;
  width: 100%;
  padding-top: 32px;
  position: relative;
  flex-shrink: 0;
}
.taste-item:nth-child(2n) {
  background-color: #fff;
  border: 1px solid #fd9222;
}
.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}
.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
}
.taste-item:nth-child(2n + 1) .taste-text {
  color: #fff;
}
.taste-img {
  margin: 0 auto;
  margin-bottom: 16px;
  flex-shrink: 0;
}
.taste-text {
  padding-left: 28px;
  padding-bottom: 28px;
}
.taste-item-icon {
  stroke: #fafafa;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
.taste-item:nth-child(2n) .taste-item-icon {
  stroke: #fd9222;
}
.taste-item:nth-child(n + 5) {
  display: none;
}

/* ================MADE================= */
.made-subtitle {
  color: #111;
  line-height: 1.33;
}
.made-item {
  line-height: 1.28;
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 16px;
}
.made-item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.made .container {
  padding-bottom: 80px;
}
.made-title {
  margin-bottom: 32px;
}
.made-image {
  background: linear-gradient(0deg, rgba(17, 17, 17, 0.40) 0%, rgba(17, 17, 17, 0.40) 100%), url(), lightgray -158.445px -335.767px / 187.796% 186.969% no-repeat;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 335px;
  height: 500px;
}
.made-list-container {
  padding: 20px 14px;
  border-radius: 15px;
  background: #fff;
}
.made-subtitle {
  margin-bottom: 20px;
}
.made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.made-image-wrapper {
  position: relative;
}
.made-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}
/* ================PRODUCTS================= */
.products-subtitle {
  color: #111;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.products-button {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.products-title {
  margin-bottom: 32px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
}
.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  width: 335px;
  height: 364px;
  padding: 32px 52px 32px 53px;
}

.products-item-img {
  margin-bottom: 8px;
}
.products-subtitle {
  margin-bottom: 2px;
}
.products-text {
  margin-bottom: 18px;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-button {
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}
/* ================SELLERS================= */
.sellers-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  width: 223px;
}
.sellers .container {
  padding-top: 80px;
}
.sellers-title {
  margin-bottom: 32px;
}
.sellers-item-img {
  border-radius: 15px 15px 0px 0px;
  width: 335px;
  height: 464px;
}
.sellers-sub-wrapper {
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  padding: 24px 56px;
  width: 335px;
}
.sellers-wrap-overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 335px;
}
.sellers-wrap-text-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.sellers-text-overlay {
  color: #fff;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.sellers-item:hover .sellers-wrap-text-container {
  transform: translateY(0);
}
.sellers-item:not(:first-child) {
  display: none;
}
.sellers-list {
  display: flex;
  gap: 16px;
}
/* ================LOVED================= */
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  padding-bottom: 24px;
}
.loved-title {
  padding-bottom: 74px;
}
.loved-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin: 0 auto;
}
.loved-button {
  text-align: center;
  font-weight: 600;
  line-height: normal;
}
.loved .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.loved-item {
  padding: 56px 16px 26px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
  position: relative;
  margin-bottom: 32px;
  min-height: 200px;
}
.loved-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}
.loved-button {
  color: #111;
  text-align: center;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 165px;
  transition: color 250ms linear, background-color 250ms linear;
}
.loved-button:hover {
  background-color: #fd9222;
  color: #fff;
}
.loved-list {
  display: flex;
  gap: 16px;
}
.loved-item:nth-child(n + 2) {
  display: none;
}
/* ================FOOTER================= */
.footer {
  background-color: #1e1823;
}
.footer-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  width: 300px;
}
.footer-title span {
  color: #fd9222;
}
.footer-subtitle {
  color: #fff;
  font-weight: 500;
  line-height: 1.28;
  font-style: normal;
  margin-bottom: 14px;
}
.contacts-link {
  color: #fff;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.footer-menu-link {
  color: #fff;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-wrap-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.socials-list {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-item:hover .socials-item-link {
  border: 1px solid rgba(253, 146, 34, 0.1);
}

.socials-item-icon {
  fill: #fff;
  transition: fill 250ms linear;
}
.socials-item:hover .socials-item-icon {
  fill: #fd9222;
}
.socials-item-link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms linear;
}
.footer-menu {
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-input {
  background-color: transparent;
  width: 207px;
  height: 45px;
  outline: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  padding-left: 18px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}
.footer-form {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.footer-button {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 24px;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
}
.footer-button:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
.footer-wrap-top-address {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* ==================MOBMENU================== */

.mob-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  pointer-events: none;
  padding: 136px 52px 20px 20px;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mob-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mob-menu-link {
  color: #fff;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  cursor: pointer;
  transition: color 250ms linear;
}
.mob-menu-link:hover {
  color: #fd9222;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-social-list {
  display: flex;
  gap: 14px;
  margin-top: auto;
}
.mob-social-item-icon {
  fill: #fff;
  transition: fill 250ms linear;
}
.mob-social-item:hover .mob-social-item-icon {
  fill: #fd9222;
}
.mob-social-item:hover .mob-social-link {
  border-color: #fd9222;
}
.mob-social-item {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.mob-social-link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms linear;
}

.mob-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu-close-icon {
  stroke: #ffffff;
}

/* ================BACKDROP=============== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 72, 72, 0.4);
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  min-height: 622px;
  border-radius: 15px;
  background-color: #fafafa;
  padding: 32px 24px;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.backdrop-close-icon use {
  stroke: #111111;
}
.modal-title {
  max-width: 300px;
  text-align: left;
  margin-bottom: 32px;
}
.modal-label {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  display: block;
}
.modal-field {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal-input {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;
  padding: 14px 43px;
  color: #404040;
  line-height: normal;
  letter-spacing: -0.02em;
  outline: transparent;
  transition: border-color 250ms linear;
}
.input-wrap:focus-within .modal-input {
  border-color: #fd9222;
}
.modal-textarea:focus-within  {
  border-color: #fd9222;
}
.input-wrap:focus-within .modal-input-icon {
  stroke: #fd9222;
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  top: 14px;
  left: 18px;
  fill: #fff;
  stroke: #404040;
  transition: stroke 250ms linear;
}
.modal-textarea {
  background-color: transparent;
  resize: none;
  width: 263px;
  height: 91px;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  transition: border-color 250ms linear;
}
.modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}
.check-label {
  display: flex;
  gap: 12px;
}
.check-label-box {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  fill: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
input[type="checkbox"]:checked + label .check-label-box {
  border: none;
  background-color: #FD9222;
  fill: #Fff;
}

.check-label-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
.check-label-text a {
  color: #fd9222;
  text-decoration: underline;
}
.modal-button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background-color: #FD9222;
  border: none;
  cursor: pointer;
  padding: 12px 28px;
  transition: background-color 250ms linear, color 250ms linear;
}
.moda-field-check {
  margin-bottom: 32px;
}
.modal-button:hover {
  background-color: #FCF1E0;
  color: #FD9222;
}

/* ==================768px====================== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .features .container {
    padding: 50px 32px;
  } 
  .features-text {
    line-height: 1.28;
  }
  .feature-list {
    gap: 44px 88px;
  }
  .taste .container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.tast-title {
  margin-bottom: 50px;
  max-width: 411px;
}
.taste-list {
  gap: 32px 32px;
}
.taste-item {
  width: 336px;
}
.taste-item:nth-child(n + 5) {
  display: block;
}
.made .container {
  padding-left: 77px;
  padding-right: 77px;
  padding-bottom: 100px;
}
.made-title {
  margin-bottom: 50px;
}
.made-image {
  width: 614px;
  height: 400px;
}
.made-list-container {
  padding: 32px;
}
.made-subtitle {
  max-width: 350px;
}
.made-subtitle {
  margin-bottom: 28px;
}
.sellers-item:not(:first-child) {
  display: block;
}
.sellers-item:nth-child(3){
  display: none;
}
.sellers-wrap-overlay {
  width: 344px;
}
.sellers-item-img {
  width: 344px;
}
.sellers-sub-wrapper {
  width: 344px;
}
.loved .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.loved-item:nth-child(n + 2) {
  display: block;
}
.loved-item:nth-child(3) {
  display: none;
}
.loved-title {
  padding-bottom: 91px;
}
.loved-item {
  width: 344px;
  margin-bottom: 50px;
  padding: 56px 16px 26px;
}
.loved-button {
  font-size: 18px;
  width: 222px;
  padding: 14px 40px;
}
.footer-wrap-top {
  flex-direction: row;
  gap: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-wrap-top-address {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  margin-left: 52px;
}
.footer-title {
  font-size: 28px;
  line-height: 1.21;
}
.footer-menu-list {
  flex-direction: row;
  gap: 16px;
}
.footer-wrap-bottom {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 50px;
}
.footer-button {
  padding: 14px 28px;
}
.footer-form {
  gap: 8px;
  padding-bottom: 0;
}
.footer-input {
  width: 233px;
}
.footer-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}
}